@import "fluidity-bootstrap.css";
@import "jquery-ui-aqua/jquery-ui.theme.min.css";

body {padding-top: 70px}
h1,h2,h3,h4,h5,h6 {color: #007fff}
hr {border-color: #003eff}
a:link, a:visited {color:#007fff}
a:active, a:hover {color:#003eff}

.navbar.navbar-default {
	background: #e9e9e9;
	border-color:#e9e9e9;
	color: #333;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nav.navbar-nav li a {
	color: #333;
}
.nav.navbar-nav li a:hover, .nav.navbar-nav .active a {
	background: #007eff;
	color:#fff;
}
.nav.navbar-nav li.active a:hover{
	background: #003eff;
	color:#634600;
}
.nav.navbar-nav li.open a{
	background:#004eff;
	color:#fff;
}
.nav.navbar-nav li.open a:hover{
	background: #007eff;
	color:#634600;
}
.nav.navbar-nav li.open ul{
	background:#e9e9e9;
}
.nav.navbar-nav li.open ul a{
	background:transparent;
	color:#333;
}
.container-fluid .navbar-header .navbar-brand {
	background: #007eff;
	color:#0019aa
}

.ui-widet-overlay {background: #e9e9e9}
div.sidebar {background: #e9e9e9; color: #222}
div.sidebar h1, div.sidebar h2, div.sidebar h3, div.sidebar h4 {color:#333}

ul.plug.list li a:link, ul.plug.list li a:visited {border:transparent;background:#003eff; color: #fff}
ul.plug.list li a:active, ul.plug.list li a:hover {border:transparent;background:#007eff; color: #ddd}
