[submodule "mk-content/addins/gallerypage"]
	path = mk-content/addins/gallerypage
	url = https://github.com/jjon-saxton/momoko-addin-gallerypage.git
[submodule "mk-content/addins/tagcloud"]
	path = mk-content/addins/tagcloud
	url = https://github.com/jjon-saxton/momoko-addin-tagcloud.git
[submodule "mk-core/dataconnect"]
	path = mk-core/dataconnect
	url = https://github.com/jjon-saxton/dataconnect.git
