@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;   /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
    padding-right: 15px;
    padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
    border: none;
}

table { background: #000 }
td, th, tf { background: #fff }

li.sub-tree { display:none }

ol, ul { padding-left: 20px }
pre { width:610px; overflow:scroll }

ul.topnav {  
    list-style: none;  
    padding: 0;  
    margin: 0;  
    float: left;
				width:100%;
    background: #222;  
    font-size: 1.2em;
}  
ul.topnav li {  
    float: left;  
    margin: 0;  
    padding: 0 15px 0 0;  
    position: relative; /*--Declare X and Y axis base for sub navigation--*/  
}  
ul.topnav li a{  
    padding: 10px 5px;  
    color: #fff;  
    display: block;  
    text-decoration: none;  
    float: left;  
}  
ul.topnav li a:hover{  
    background: #ccc;
    color: #000;
}  
ul.topnav li span { /*--Drop down trigger styles--*/  
    width: 17px;  
    height: 35px;  
    float: left;    
}  
ul.topnav li span.subhover {background-position: center bottombottom; cursor: pointer;} /*--Hover effect for trigger--*/  
ul.topnav li ul.subnav {  
    list-style: none;  
    position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
    left: 0; top: 35px;  
    background: #333;  
    margin: 0; padding: 0;  
    display: none;  
    float: left;  
    width: 170px;  
    border: 1px solid #111;  
}  
html ul.topnav li ul.subnav li a {  
    float: left;  
    width: 145px;  
    background: #333 no-repeat 10px center;  
    padding-left: 20px;  
}

html ul.topnav li ul.subnav li hr {
    float:left;
    width:145px;
    background: transparent;
    border: 1px solid; #000;
    padding-left: 20px;
}
  
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/  
    background: #aaa no-repeat 10px center;  
}

ul#info {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nobullet{
  list-style:none;
}

ul.noindent{
  padding: 0;
  margin: 0;
}

ul.sitemap ul.subnav
{
  padding-top:0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

div.hidden {
 display:none;
}

div#Content {
 min-height: 25em;
}