<html>
<head>
<title>~{sectiontitle}</title>
</head>
<body>
<div id="TopMod" class="modbar">
<!-- ADDIN:victorique:modbar:section=head&display=buttons&forum=~{forum_url} -->
</div>
<!-- SECTION:subforums// -->
<table id="VictoriqueCategory" width=100% cellspacing=0 cellpadding=1 border=0>
<tr>
<th>Forum &amp; Description</th><th>Topics</th><th>Posts</th><th>Latest Topic</th>
</tr>
<!-- ROW:forums// -->
<tr>
<td><a href="~{bbroot}/*{name}"><!-- ROW_VAR:name --></a>
<div class="forum_desc"><!-- ROW_VAR:description --></div></td><td><!-- ROW_VAR:topics --></td><td><!-- ROW_VAR:posts --></td><td><!-- ROW_VAR:latest_topic --></td>
</tr>
<!-- //ROW -->
</table>
<!-- //SECTION -->
<!-- SECTION:topics// -->
<table id="VictoriqueTopics" width=100% cellspacing=1 cellpadding=1 border=0>
<tr>
<th>Subject &amp; Posted Date</th><th>Replies</th><th>Latest Reply</th>
</tr>
<!-- ROW:topics// -->
<tr>
<td><a href="~{bbroot}/~{forum_url}/*{subject}"><!-- ROW_VAR:subject --></a>
<div class="topic_start_date"><!-- ROW_VAR:date --></div></td><td><!-- ROW_VAR:replies --></td><td><!-- ROW_VAR:latest_reply --></td>
</tr>
<!-- //ROW -->
</table>
<!-- //SECTION -->
<div id="BottomMod" class="modbar">
<!-- ADDIN:victorique:modbar:section=foot&display=all&forum=~{forum_url} -->
</div>
</body>
</head>
</html>
