<html>
<head>
<title>~{sectiontitle}</title>
</head>
<body>
<h2>~{sectiontitle}</h2>
<p>Welcome our bullitin boards! We would like to thank you for your interest in our discussions. You will likely need an account to post to these forums. If you have not done so. Please use the links provide to register an account and login</p>
<!-- SECTION:subforums// -->
<table id="VictoriqueCategory" width=100% cellspacing=0 cellpadding=1 border=0>
<tr>
<th>Forum &amp; Description</th><th>Topics</th><th>Posts</th><th>Latest Topic</th>
</tr>
<!-- ROW:forums// -->
<tr>
<td><a href="~{bbroot}/*{name}"><!-- ROW_VAR:name --></a>
<div class="forum_desc"><!-- ROW_VAR:description --></div></td><td><!-- ROW_VAR:topics --></td><td><!-- ROW_VAR:posts --></td><td><!-- ROW_VAR:latest_topic --></td>
</tr>
<!-- //ROW -->
</table>
<!-- //SECTION -->
</body>
</head>
</html>