<html>
<head>
<title>Login</title>
</head>
<body>
<h2>Login</h2>
<p>Welcome our bullitin boards! Please fill out the form below to login. Logging in allows you to post to private forums. If you don't have an account yet, we recommend you register one. Registration is free!</p>
<form action="#proceed" method=post>
<ul class="noindent nobullet login form">
<li><label for="name">User Name:</label> <input type=text name="name" id="name"></li>
<li><label for="pass">Password:</label> <input type=password name="password" id="pass"></li>
</ul>
<div class="form main"><input type=submit name="send" value="Login"></div>
</form>
</body>
</head>
</html>
