<html>
<head>
<title>New Post</title>
</head>
<body>
<form action="#post" method=post>
<table width="90%" align="center" border="0" cellpadding="1" cellspacing="1">
<tr>
<th colspan="2" align="center">Post</th>
</tr>
<tr>
<td align="right"><label for="subject">Subject:</label></td><td align="left"><input type=text id="subject" name="subject" value="~{subject}" /></td>
</tr>
<tr>
<td align="right"><label for="post">Post:</label></td><td align="left"><textarea id="post" class="bbc~{bbc_level}" name="post">~{post}</textarea></td>
</tr>
<tr>
<th colspan="2" align="center">Settings</th>
</tr>
<td align="right"><label for="sigs">Show Signature?</label></td><td align="left"><!-- VAR:sig_bullets --></td>
</tr>
<tr>
<td align="right"><label for="sub">Subscribe to this topic?</label></td><td align="left"><!-- VAR:sub_bullets --></td>
</tr>
<tr>
<td colspan="2" align="center"><input type=submit name="send" value="Save" /></td>
</tr>
</table>
</form>
</body>
</html>
