<html>
<head>
<title>~{sectiontitle}</title>
</head>
<body>
<div id="TopMod" class="modbar">
<!-- ADDIN:victorique:modbar:section=head&display=all&topic=~{topic_url}&forum=~{forum_url} -->
</div>
<!-- SECTION:post// -->
<!-- ROW:post// -->
<table width=100% border=0 cellspacing=1 cellpadding=1>
<tr>
<th rowspan=2>
<div class="author-name"><!-- ROW_VAR:author_name --></div>
<div class="author-avatar"><!-- ROW_VAR:author_avatar --></div></th><th><!-- ROW_VAR:subject --></th>
</tr>
<tr>
<td><!-- ROW_VAR:post --></td>
</tr>
</table>
<!-- //ROW -->
<!-- //SECTION -->
<div id=="BottomMod" class="modbar">
<!-- ADDIN:victorique:modbar:section=foot&display=all&topic=~{topic_url}&forum=~{forum_url} -->
</div>
</body>
</head>
</html>
