<html>
<head>
<title>elFinder</title>
</head>
<body>
<link rel="stylesheet" href="~{finderroot}/css/elfinder.min.css" type="text/css" media="screen">
<script language="javascript" type="text/javascript" src="~{finderroot}/js/elfinder.min.js"></script>
<script language="javascript" type="text/javascript">
	$().ready(function() {
		var elf = $('#elfinder').elfinder({
			url : '~{connectoruri}'
		}).elfinder('instance');			
	});
</script>
<h2>elFinder File &amp; Page Manager</h2>
<div id="elfinder"></div>
</body>
</html>
