<div title="Head Bar" class="preview box no-drag">
<h1>Site Title</h1>
<p>Site Navigation</p>
</div>
<div title="Page" class="preview box container">
<div title="Module Zone 1" id="1" class="preview box zone" style="width:30%;float:left">
<!-- MODULEPLACEHOLDER:zone=1 -->
</div>
<div title="Body" id="mods" class="preview box source" style="margin-left:2%; width:67%;float:left">
<!-- MODULESOURCE -->
</div>
</div>
<div title="Foot Bar" class="preview box no-drag">
<p>Copyright and version</p>
</div>