@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	10;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 97.2%;
	padding-left: 0.9%;
	padding-right: 0.9%;
}
#PageHead {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


#Logos {
	width:100%
	display: block;
}

#SiteSocial {
	display: none;
}

#navbar.sticky {
	display: none;
}

#header {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#elFinder {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#News {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: none;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#SiteSocial {
	float: left;
	text-align: right;
	margin-left: 0;
	width:25%;
	display: block;
}
#navbar.sticky
{
	display: block;
}
#Logos {
        clear: right;
	float: left;
	text-align: left;
	margin-left: 0;
	width: 75%;
	display: block;
}
#News {
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 98%;
	max-width: 1232px;
	margin: auto;
}

#navbar {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
}
#Content {
	clear: none;
	float: left;
	margin-left: 0;
	width: 63.633%;
	display: block;
}
#News {
	clear: both;
	float: left;
	margin-right: 0.9174%;
	width: 35.4495%;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
